# Lab 1.02 - Android Persistence

Import all necessary Python libraries and create a variable `android_persistence` to load the dataset [android_persistence_cpu.csv](https://github.com/HoGentTIN/dsai-en-labs/blob/main/data/android_persistence_cpu.csv). See the [code book](https://github.com/HoGentTIN/dsai-en-labs/blob/main/data/android_persistence_cpu.md) for more info on the contents. Note this file is not stored as a regular CSV file! You may need to tweak the parameters of the import function to load the file correctly.

In [1]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation

In [41]:
aps

      Time    PersistenceType DataSize
0     1.81  Sharedpreferences    Small
1     1.35  Sharedpreferences    Small
2     1.84  Sharedpreferences    Small
3     1.54  Sharedpreferences    Small
4     1.81  Sharedpreferences    Small
..     ...                ...      ...
295  12.12              Realm    Large
296  10.85              Realm    Large
297  12.32              Realm    Large
298  12.04              Realm    Large
299  10.53              Realm    Large

[300 rows x 3 columns]

Explore the dataset:

- How many variables and observations are present in the dataset?
- What is the level of measurement of each variable?
- Perform the conversion of the qualitative variables to the appropriate type (and specify the order of ordinal variables).
- List the data types in the dataset.

In [39]:
aps = pd.read_csv("../data/android_persistence_cpu.csv",delimiter=";")
#convert all object columns to categorical
aps = aps.astype({"PersistenceType":'category'})
##ordered datasize category
aps.DataSize = aps.DataSize.astype(CategoricalDtype(categories=['Small','Medium','Large'],ordered=True))

Describe each variable.

In [42]:
aps.describe(include='all')

              Time PersistenceType DataSize
count   300.000000             300      300
unique         NaN               4        3
top            NaN        GreenDAO    Small
freq           NaN              90      120
mean      6.230833             NaN      NaN
std       4.229599             NaN      NaN
min       1.090000             NaN      NaN
25%       1.790000             NaN      NaN
50%       6.185000             NaN      NaN
75%      10.662500             NaN      NaN
max      13.560000             NaN      NaN

What unique values are there for the variables `PersistenceType` and `DataSize`? How often does each value occur?

In [43]:
print(aps.DataSize.value_counts())
print("*"*50)
print(aps.PersistenceType.value_counts())

Small     120
Medium     90
Large      90
Name: DataSize, dtype: int64
**************************************************
GreenDAO             90
Realm                90
SQLLite              90
Sharedpreferences    30
Name: PersistenceType, dtype: int64

In this dataset, it is especially interesting to know how often each unique combination of `PersistenceType` and `DataSize` occurs. Figure out how to use the Pandas function `crosstab()` to create a so-called contingency table for these variables. By the way, this concept will return in Module 4 (examining the relationship between 2 qualitative variables).

In [48]:
pd.crosstab(aps.PersistenceType,aps.DataSize)

DataSize           Small  Medium  Large
PersistenceType
GreenDAO              30      30     30
Realm                 30      30     30
SQLLite               30      30     30
Sharedpreferences     30       0      0